.LoginPage-container {
    position: relative;
}

.LoginPage-background {
    width: 100%;
    min-height: calc(100vh - 67px);
    margin: 0 auto;
    background-color: rgb(90, 77, 90);
}

.LoginPage-flex-row {
    display: flex;
    justify-content: center;
}

.LoginPage-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 25px;
    margin-bottom: 20px;
}

.LoginPage-form-column {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid rgb(180, 180, 180);
    margin: 10px 0;
    gap: 20px;
    box-sizing: border-box;
}

.LoginPage-subtitle {
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(187, 185, 193);
    line-height: 100%;
}

.LoginPage-error-text {
    color: #f37c7c;
    font-weight: 700;
    margin: 0;
    overflow-wrap: break-word;
    text-align: center;
    text-transform: uppercase;
    line-height: 100%;
}

.LoginPage-form-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.LoginPage-label {
    font-size: 15px;
    color: gray;
    font-weight: 700;
}

.LoginPage-input {
    border: 1px solid lightgray;
    border-radius: 2px;
    
}

.LoginPage-input-password-name {
    line-height: 135%;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin-bottom: 5px;
    flex-grow: 1;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    color: #555;
    padding: 8px;
}

.LoginPage-input-password {
    border: none;
    width: 75%;
    outline: none;
}

.LoginPage-label-password {
    position: relative;
}

.LoginPage-input:focus {
    border: 1px solid rgba(104, 104, 104, 0.8);
}

.LoginPage-btn-row {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.LoginPage-link {
    color: rgb(54, 82, 88);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.LoginPage-link:hover {
    color: rgb(34, 52, 56);
    font-weight: 700;
}

.LoginPage-input-eye {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
}

.LoginPage-input-eye:hover {
    cursor: pointer;
}
