.DarkButton {
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 9px 5px 9px;
    max-width: 95px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    font-size: 15px;
    line-height: 100%;
    border: 1px solid rgb(91, 77, 89);
    background-color: rgb(91, 77, 89);
    align-self: flex-end;
}

.DarkButton:disabled,
.DarkButton:hover:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.DarkButton:hover {
    background-color: rgb(35, 32, 35);
    border: 1px solid rgb(35, 32, 35);
}